%div#indentation
  %h1.section barrels
  %span.button= link_to image_tag( 'download.png'), barrels_path(format: "xls")



  %table#table
    %tr{:id => "titles"}

      %th#author Name
      %th#author Bung
      %th#author Type

      %th#author Contents

      %th#author Liters
      %th#author Updated
      %th
      %th

    - @barrels.each do |barrel|
  
      %tr.clickable{:id=>"#{barrel.id}"}
        #pretend
          %td#left-edge=  "#{barrel.name}"
          %td= barrel.RFID
          %td= barrel.shape
          - if barrel.spirits != []
            %td= "#{barrel.spirits.order("id DESC").first.name}"
          - else 
            %td
          - if barrel.spirits != [] && barrel.spirits.order("id DESC").first.readings !=[]
            %td= barrel.spirits.last.readings.last.liters
          - else 
            %td
          - if barrel.spirits != [] && barrel.spirits.order("id DESC").first.readings !=[]
            %td#right-edge= barrel.spirits.last.readings.last.updated_at.strftime('%l:%M %p')
          - else 
            %td#right-edge

          %td.button#noclick= link_to image_tag( 'add.png'), :controller=> :spirits, :action=> :new, :barrel => barrel 
          %td.button#noclick= link_to image_tag( 'delete.png'), barrel, :method => :delete, :data => { :confirm => 'Are you sure?' }


          %td.button#noclick= link_to image_tag( 'edit.png'), edit_barrel_path(barrel)


  %br



