%h1.section= "#{spirit.name}: readings" 
%span.button= link_to image_tag('refresh.png'), {:controller=>:barrels, :action=> :history, :barrel=>"#{spirit.barrel.id}"}, :remote=>true
//%select{:id=>"selector"}
%br

%script{:type => 'text/javascript'}
  :plain
    init("#{spirit.id}");