%p#notice= notice

%p
  %b Container:
  = @barrel.container
%p
  %b Contents:
  = @barrel.contents
%p
  %b Gallons:
  = @barrel.gallons

= link_to 'Edit', edit_barrel_path(@barrel)
\|
= link_to 'Back', barrels_path
